@use '../abstracts' as *;

.showcase {
  @include set-background($primary-color);
  min-height: 100vh;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 15px;
    }
    a {
      color: set-text-color($primary-color);
    }
    a:hover {
      color: $secondary-color;
    }
  }

  .container {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    img {
      width: 50%;
    }
    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
  @media (max-width: 700px) {
    .showcase {
      height: 400px;
      &-content {
        text-align: center;
        img {
          display: none;
        }
      }
    }
  }
}
